<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout::adminHead"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="admin/layout::header"></div>
    <div th:replace="admin/layout::side"></div>
    <div class="layui-body" style="padding: 15px;">
        <div class="container">
            <table class="layui-table"
                   lay-data="{height: 'full-200', cellMinWidth: 100, url:'/admin/teacher', page:true, id:'teachers'}"
                   lay-filter="teachers">
                <thead>
                <tr>
                    <th lay-data="{type:'checkbox'}">ID</th>
                    <th lay-data="{field:'id', width: 180, sort: true}">ID</th>
                    <th lay-data="{field:'username', width:150, event: 'teacherName',style:'cursor: pointer;text-decoration:underline;color:#009688'}">
                        用户名
                    </th>
                    <th lay-data="{field:'gender', width:100, sort: true}">性别</th>
                    <th lay-data="{field:'email'}">邮箱</th>
                    <th lay-data="{field:'position', width:100}">职位</th>
                    <th lay-data="{field:'details'}">详情</th>
                    <th lay-data="{field:'signature'}">签名</th>
                    <th lay-data="{field:'status',width:100, templet: '#checkboxTpl', unresize: true}">状态</th>
                </tr>
                </thead>
            </table>
        </div>
        <div th:replace="admin/layout::adminFooter"></div>
    </div>
</div>
</body>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../layui/layui.all.js"></script>
<script src="/static/layui/layui.all.js"></script>
<script>
    layui.use('table', function () {
        let table = layui.table;
        table.on('tool(teachers)', function (obj) {
            let data = obj.data;
            if (obj.event === 'teacherName') {
                layer.prompt({
                    formType: 2
                    , title: '修改 ID 为 [' + data.id + '] 的用户签名'
                    , value: data.username
                }, function (value, index) {
                    layer.close(index);

                    //这里一般是发送修改的Ajax请求

                    //同步更新表格和缓存对应的值
                    obj.update({
                        username: value
                    });
                });
            }
        })
    })

</script>
</html>