<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:include="admin/layout::adminHead"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="admin/layout::header"></div>
    <div th:replace="admin/layout::side"></div>
    <div class="layui-body" style="padding: 15px;">
        <a id="back" style="color: #009688; cursor: pointer;">
            <img style="width: 35px; height: 35px;" th:src="@{/images/svg/返回.png}"
                 alt="返回"><strong>返回</strong>
        </a>
        <hr>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:src="@{/layui/layui.all.js}"></script>
<script src="/static/layui/layui.all.js"></script>
<script>
    $(document).ready(function () {
        $("#back").click(function () {
            window.history.back(-1);
        })
    });
</script>
</html>