<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>aaa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/custom-style.css">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="course/layout:: courseHeader"></header>
<div class="container" style="padding: 0 0 20px 0">
    <div class="emooc-wrap">
        <div class="emooc-top">
            <div class="emooc-course-content">
                <div class="emooc-course-nav-box">
                    <div class="emooc-course-nav-row clearfix">
                        <span class="hd emooc-l">方向：</span>
                        <div class="emooc-bd">
                            <ul class="">
                                <li class="emooc-course-nav-item on">
                                    <a th:href="@{/course}">全部</a>
                                </li>
                                <li class="emooc-course-nav-item" th:each="direction:${directions}">
                                    <a th:href="${'/course/direction?directionId='+direction.id}"
                                       th:text="${direction.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" emooc-course-nav-row clearfix">
                        <span class="hd emooc-l">分类：</span>
                        <div class="emooc-bd">
                            <ul class="">
                                <li class="emooc-course-nav-item on">
                                    <a href="">全部</a>
                                </li>
                                <li class=" emooc-course-nav-item" th:each="classification:${classifications}">
                                    <a th:href="${'/course/direction?classificationId='+classification.id}"
                                       th:text="${classification.name}">HTML/CSS</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" emooc-course-nav-row clearfix border_bottom_none">
                        <a href="javascript:;" class="course-recommend"
                           onclick="_hmt.push(['_trackEvent', 'course', 'click', 'inlet'])"></a>
                        <span class="hd emooc-l">类型：</span>
                        <div class="emooc-bd">
                            <ul class="">

                                <li class="emooc-course-nav-item on">
                                    <a href="/course/list?c=fe">全部</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=1">基础</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=2">案例</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=3">框架</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=4">工具</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="emooc-course-tool-bar clearfix">
        <div class="emooc-tool-left emooc-l">
            <a href="/course/list?c=javascript" class="sort-item active">全部</a>
            <a href="/course/list?c=javascript&amp;is_easy=1" class="sort-item">入门</a>
            <a href="/course/list?c=javascript&amp;is_easy=2" class="sort-item">初级</a>
            <a href="/course/list?c=javascript&amp;is_easy=3" class="sort-item">中级</a>
            <a href="/course/list?c=javascript&amp;is_easy=4" class="sort-item">高级</a>
        </div>
        <div class="emooc-l">
        <span class="emooc-tool-item" style="display: none;">
            <a class="emooc-follow-learn emooc-tool-chk" href="javascript:void(0);">跟我学</a>
        </span>
        </div>
        <div class="emooc-tool-right r">
            <span class="emooc-tool-item emooc-total-num">共<b th:text="${courses.size()}">98</b>个课程</span>
            <span class="emooc-tool-item emooc-tool-pager">
            <a href="javascript:void(0)" class="emooc-pager-action pager-prev  disabled"><i class="icon-left2"></i></a>
            <a href="/course/list?c=javascript&amp;page=2" class="emooc-pager-action pager-next">
                <i class="icon-right2"></i>
            </a>
        </span>
        </div>
    </div>
    <div class="emooc-course-list">
        <div class="emooc-moco-course-list">
            <div class="clearfix">
                <div class="emooc-course-card-container" th:each="course:${courses}">
                    <a target="_blank" th:href="${'/course/learn/'+course.id}" class="emooc-course-card">
                        <div class="emooc-course-card-top">
                            <img class="emooc-course-banner lazy" th:src="${course.imagePath}" style="display: inline;">
                            <div class="emooc-course-label"><label th:text="${course.classification.name}"></label>
                            </div>
                        </div>
                        <div class="emooc-course-card-content">
                            <h3 class="emooc-course-card-name" th:text="${course.name}">ES6快速入门</h3>
                            <div class="clearfix emooc-course-card-bottom">
                                <div class="emooc-course-card-info">
                                    <span th:text="${course.grade.description}">初级</span>
                                    <span><i class="icon-set_sns"></i>20556</span>
                                </div>
                                <p class="emooc-course-card-desc" th:text="${course.notice}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="page"><span class="disabled_page">首页</span><span class="disabled_page">上一页</span><a
                href="javascript:void(0)" class="active text-page-tag">1</a><a class="text-page-tag"
                                                                               href="/course/list?c=javascript&amp;page=2">2</a><a
                class="text-page-tag" href="/course/list?c=javascript&amp;page=3">3</a><a class="text-page-tag"
                                                                                          href="/course/list?c=javascript&amp;page=4">4</a><a
                href="/course/list?c=javascript&amp;page=2">下一页</a><a href="/course/list?c=javascript&amp;page=4">尾页</a>
        </div>
    </div>
</div>
</body>
</html>