<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>aaa</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/custom-style.css">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar"
                    aria-controls="bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand">Bootstrap</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="../getting-started/"
                       onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-起步'])">起步</a>
                </li>
                <li>
                    <a href="../css/" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-全局CSS样式'])">全局
                        CSS 样式</a>
                </li>
                <li>
                    <a href="../components/"
                       onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-组件'])">组件</a>
                </li>
                <li>
                    <a href="../javascript/"
                       onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-JavaScript插件'])">JavaScript
                        插件</a>
                </li>
                <li>
                    <a href="../customize/"
                       onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-定制'])">定制</a>
                </li>
                <li><a href="http://www.youzhan.org"
                       onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-网站实例'])"
                       target="_blank">网站实例</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="http://mb.bootcss.com" onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'themes'])" target="_blank">主题/模板</a></li> -->
                <li><a href="http://www.bootcss.com/"
                       onclick="_hmt.push(['_trackEvent', 'docv3-navbar', 'click', 'V3导航-Bootstrap中文网'])"
                       target="_blank">Bootstrap中文网</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container" style="padding: 20px 0;background: #f3f5f7;">
    <div class="emooc-wrap">
        <div class="emooc-top">
            <div class="emooc-course-content">
                <div class="emooc-course-nav-box">
                    <div class="emooc-course-nav-row clearfix">
                        <span class="hd emooc-l">方向：</span>
                        <div class="emooc-bd">
                            <ul class="">
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list">全部</a>
                                </li>
                                <li class=" emooc-course-nav-item on">
                                    <a href="/course/list?c=fe" data-ct="fe">前端开发</a>
                                </li>
                                <li class=" emooc-course-nav-item">
                                    <a href="/course/list?c=be" data-ct="be">后端开发</a>
                                </li>
                                <li class=" emooc-course-nav-item">
                                    <a href="/course/list?c=mobile" data-ct="mobile">移动开发</a>
                                </li>
                                <li class=" emooc-course-nav-item">
                                    <a href="/course/list?c=data" data-ct="data">数据库</a>
                                </li>
                                <li class=" emooc-course-nav-item
                                    ">
                                    <a href="/course/list?c=ai" data-ct="ai">人工智能</a>
                                </li>
                                <li class=" emooc-course-nav-item
                                    ">
                                    <a href="/course/list?c=cb" data-ct="cb">云计算&amp;大数据</a>
                                </li>
                                <li class=" emooc-course-nav-item
                                    ">
                                    <a href="/course/list?c=op" data-ct="op">运维&amp;测试</a>
                                </li>
                                <li class=" emooc-course-nav-item
                                    ">
                                    <a href="/course/list?c=photo" data-ct="photo">UI设计</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" emooc-course-nav-row clearfix">
                        <span class="hd emooc-l">分类：</span>
                        <div class="emooc-bd">
                            <ul class="">
                                <li class=" emooc-course-nav-item on">
                                    <a href="/course/list?c=fe">全部</a>
                                </li>

                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=html" data-id="7" data-ct="fe">HTML/CSS</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=javascript" data-id="44" data-ct="fe">JavaScript</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=html5" data-id="221" data-ct="fe">Html5</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=css3" data-id="1262" data-ct="fe">CSS3</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=jquery" data-id="219" data-ct="fe">jQuery</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=nodejs" data-id="222" data-ct="fe">Node.js</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=bootstrap" data-id="1263" data-ct="fe">Bootstrap</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=angular" data-id="1123" data-ct="fe">Angular</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=reactjs" data-id="1374" data-ct="fe">React.JS</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=vuejs" data-id="1423" data-ct="fe">Vue.js</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=sassless" data-id="1429" data-ct="fe">Sass/Less</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=webapp" data-id="1260" data-ct="fe">WebApp</a>
                                </li>


                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fetool" data-id="1261" data-ct="fe">前端工具</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class=" emooc-course-nav-row clearfix border_bottom_none">
                        <a href="javascript:;" class="course-recommend"
                           onclick="_hmt.push(['_trackEvent', 'course', 'click', 'inlet'])"></a>
                        <span class="hd emooc-l">类型：</span>
                        <div class="emooc-bd">
                            <ul class="">

                                <li class=" emooc-course-nav-item on">
                                    <a href="/course/list?c=fe">全部</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=1">基础</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=2">案例</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=3">框架</a>
                                </li>
                                <li class=" emooc-course-nav-item ">
                                    <a href="/course/list?c=fe&amp;type=4">工具</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>