<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>aaa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
    <link rel="stylesheet" href="../../static/css/custom-style.css">
</head>
<body>
<div hidden>
    <input type="hidden" id="courseId" th:value="${course.id}">
    <!--<input type="hidden" id="csrf_name" th:value="${_csrf.parameterName}">
    <input type="hidden" id="csrf_token" th:value="${_csrf.token}">-->
</div>
<header th:replace="course/layout:: courseHeader"></header>
<div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="breadcrumb">
                    <li>
                        <a th:href="@{/course}"><span>课程</span></a>
                    </li>
                    <li>
                        <a th:href="${'/course/direction?directionId='+course.classification.direction.id}"><span
                                th:text="${course.classification.direction.name}"></span></a>
                    </li>
                    <li>
                        <a href="#"><span th:text="${course.classification.name}"></span></a>
                    </li>
                    <li class="active">
                        <span th:text="${course.name}"></span>
                    </li>
                </ul>
                <div class="row clearfix">
                    <div class="col-md-8 column">
                        <div class="page-header">
                            <h1>
                                <span th:text="${course.name}"></span>
                                <small>
                                    <span id="collection_span" hidden class="glyphicon glyphicon-star"
                                          style="color: red;"></span>
                                    <span id="collection_cancel_span" hidden class="glyphicon glyphicon-star-empty"
                                          style="color: #444444;"></span>
                                </small>
                            </h1>
                            <div class="emooc-teacher-info">
                                <img th:src="${course.teacher.avatar}" alt="教师头像">
                                <span style="font-size: 18px;" th:text="${course.teacher.username}"></span>
                                <div style="display: inline;padding-left: 30px">
                                    <span>难度:</span><span th:text="${course.grade.description}"></span>
                                    <span>学习人数:</span><span>1000</span>
                                    <ul class="show_number clearfix">
                                        <li>
                                            <div class="atar_Show">
                                                <p th:data="${course.score}"></p>
                                            </div>
                                            <span></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <ul class="nav nav-pills nav-justified">
                                <li role="presentation" class="active"><a href="#tabSection" data-toggle="tab">课程章节</a>
                                </li>
                                <li role="presentation"><a href="#tabQuestion" data-toggle="tab">问答</a></li>
                                <li role="presentation"><a href="#tabNotes" data-toggle="tab">笔记</a></li>
                                <li role="presentation"><a href="#tabComment" data-toggle="tab">评价</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tabSection">
                                    <div class="emooc-course-description emooc-course-wrap"
                                         th:text="${'简介:'+course.intro}">
                                    </div>
                                    <div class="emooc-course-chapters">
                                        <div class="emooc-chapter emooc-course-wrap emooc-chapter-active"
                                             th:each="section:${course.sections}">
                                            <!-- 章节标题 -->
                                            <h3 th:text="${section.name}"></h3>
                                            <div class="chapter-description" th:text="${section.detail}">
                                                本章讲为你介绍这门课具体讲什么，内容如何安排，学习心得等，让你对课程有一个整体的认识。
                                            </div>
                                            <!-- 章节标题 end -->
                                            <!-- 章节小节 -->
                                            <ul class="video" th:each="video:${section.videos}">
                                                <li data-media-id="17139">
                                                    <a th:href="${video.path}" class="J-media-item">
                                                        <span class="glyphicon glyphicon-play"></span>
                                                        <span th:text="${video.name}"></span>(<span
                                                            th:text="${video.duration}"></span>)
                                                        <button class="r moco-btn moco-btn-red preview-btn">开始学习
                                                        </button>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- 章节小节 end -->
                                        </div>
                                        <div class="emooc-course-description emooc-course-wrap">
                                            <span>没有啦</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabQuestion">
                                    <div style="position: relative;">
                                        <div id="questionEditor" style="margin-top: 20px;"></div>
                                        <button class="btn btn-primary" id="btn_question">提交</button>
                                    </div>
                                    <ul id="question_ul" style="padding-left: 0;">
                                        <li th:each="question:${course.questions}">
                                            <div class="wenda-listcon mod-qa-list clearfix" data-id="568090">
                                                <div class="headslider qa-medias l">
                                                    <img th:src="${question.user.avatar}" width="40" height="40">
                                                </div>
                                                <div class="wendaslider qa-content">
                                                    <div class="tit">
                                                        <a href="#" target="_blank"
                                                           th:text="${question.user.username}"></a>
                                                    </div>
                                                    <div class="cnt" th:utext="${question.detail}"></div>
                                                    <div class="replymegfooter qa-footer clearfix">
                                                        <div class="l-box l">
                                                            <!--   <a href="/video/17148" class="from">2-8 Storm集群环境搭建</a>-->
                                                        </div>
                                                        <span class="r timeago"
                                                              th:text="${'时间:'+ #dates.format(question.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div th:if="${question.answers} neq null and !${question.answers.isEmpty()}"
                                                 class="wenda-listcon mod-qa-list clearfix">
                                                <ul>
                                                    <li th:each="answer:${question.answers}">
                                                        <div class="wenda-listcon mod-qa-list clearfix">
                                                            <div class="headslider qa-medias l">
                                                                <img th:src="${question.user.avatar}" width="40"
                                                                     height="40">
                                                            </div>
                                                            <div class="wendaslider qa-content">
                                                                <div class="tit">
                                                                    <a href="#"
                                                                       th:text="${question.course.teacher.username}"></a>
                                                                </div>
                                                                <div class="cnt" th:utext="${answer.detail}"></div>
                                                                <div class="replymegfooter qa-footer clearfix">
                                                                    <div class="l-box l">
                                                                        <!--   <a href="/video/17148" class="from">2-8 Storm集群环境搭建</a>-->
                                                                    </div>

                                                                    <span class="r timeago"
                                                                          th:text="${'时间:'+ #dates.format(question.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                                <div class="tab-pane fade" id="tabNotes">
                                    <div id="noteEditor" style="margin-top: 20px;"></div>
                                    <button class="btn btn-primary" id="btn_note">添加</button>
                                    <!---------------------------->
                                    <ul id="note_ul" style="padding-left: 0;">
                                        <li th:each="note:${course.notes}">
                                            <div class="wenda-listcon mod-qa-list clearfix" data-id="568090">
                                                <div class="headslider qa-medias l">
                                                    <img th:src="${note.user.avatar}" width="40" height="40">
                                                </div>
                                                <div class="wendaslider qa-content">
                                                    <div class="tit">
                                                        <a href="#" target="_blank"
                                                           th:text="${note.user.username}"></a>
                                                    </div>
                                                    <div class="cnt" th:utext="${note.detail}"></div>
                                                    <div class="replymegfooter qa-footer clearfix">
                                                        <div class="l-box l">
                                                            <!--   <a href="/video/17148" class="from">2-8 Storm集群环境搭建</a>-->
                                                        </div>
                                                        <span class="r timeago"
                                                              th:text="${'时间:'+ #dates.format(note.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!----------------------------------------------------------->
                                </div>
                                <div class="tab-pane fade" id="tabComment">
                                    <div class="startone block clearfix" style="padding-top: 20px">
                                        <div class="star_score"></div>
                                        <span id="star_fenshu" class="fenshu"></span>
                                        <div class="attitude"></div>
                                        <button class="btn btn-primary" id="btn_score">添加</button>
                                    </div>
                                    <div id="scoreEditor" style="margin-top: 20px;"></div>
                                    <!---------------------------->
                                    <ul id="score_ul" style="padding-left: 0;">
                                        <li th:each="score:${course.scores}">
                                            <div class="wenda-listcon mod-qa-list clearfix">
                                                <div class="headslider qa-medias l">
                                                    <img th:src="${score.user.avatar}" width="40" height="40">
                                                </div>
                                                <div class="wendaslider qa-content">
                                                    <div class="tit">
                                                        <a href="#" target="_blank"
                                                           th:text="${score.user.username}"></a>
                                                    </div>
                                                    <div class="r">
                                                        <ul class="show_number clearfix">
                                                            <li>
                                                                <div class="atar_Show">
                                                                    <p th:data="${score.grade}"></p>
                                                                </div>
                                                                <span></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="cnt" th:utext="${score.wishes}"></div>
                                                    <div class="replymegfooter qa-footer clearfix">
                                                        <div class="l-box l">
                                                            <!--   <a href="/video/17148" class="from">2-8 Storm集群环境搭建</a>-->
                                                        </div>
                                                        <span class="r timeago"
                                                              th:text="${'时间:'+ #dates.format(score.time, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!----------------------------------------------------------->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <div class="emooc-course-wrap emooc-course-aside-info js-usercard-box">
                            <div class="learn-btn">
                                <a th:if="${course.sections} ne null and !${course.sections.isEmpty()}"
                                   th:href="${course.sections.get(0).videos.get(0).path}"
                                   class="emooc-moco-btn emooc-moco-btn-red emooc-moco-btn-lg J-learn-course">开始学习</a>
                                <button th:if="${course.sections} eq null or ${course.sections.isEmpty()}"
                                        class="emooc-moco-btn emooc-moco-btn-red emooc-moco-btn-lg J-learn-course">
                                    老师还没有添加课程
                                </button>
                            </div>
                            <div class="emooc-course-info-tip">
                                <dl class="first">
                                    <dt>课程须知</dt>
                                    <dd class="autowrap" th:text="${course.notice}">
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>老师告诉你能学到什么？</dt>
                                    <dd class="autowrap" th:text="${course.wtcanlearn}"></dd>
                                </dl>
                            </div>
                        </div>

                        <div class="js-commend-box">
                            <div class="mb40 recom-course-list-box"><h4>推荐课程</h4>
                                <ul class="js-recom-course recom-course-list clearfix">
                                    <li class="clearfix" th:each="recomend:${recommends}">
                                        <a th:href="${'/course/learn/'+recomend.id}" class="clearfix" target="_blank">
                                            <div class="l content-box">
                                                <div style="display: inline-block;">
                                                    <img th:src="${recomend.imagePath}"
                                                         style="width: 56px; height: 56px;" alt="">
                                                </div>
                                                <div style="display: inline-block">
                                                    <p class="smalle-title" th:text="${recomend.name}"
                                                       style="display: inline-block; margin-bottom: 0; margin-top: 5px">
                                                        系统学习Docker践行DevOps理念
                                                    </p>
                                                    <div class="clearfix learn-detail">
                                                        实战<span>·</span>
                                                        <span th:text="${recomend.grade.description}"></span>
                                                        <span>·</span><i class="glyphicon glyphicon-user"
                                                                         style="color: #8c989f"></i>
                                                        <span th:text="${recomend.studies.size()}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
<script th:src="@{/js/global.js}"></script>
<script>
    $(document).ready(function () {
        let emoji = [];
        $.get({
            url: '/js/emoji.json',
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    emoji[i] = {};
                    emoji[i].alt = response[i].phrase;
                    emoji[i].src = response[i].url;
                }
            }
        });
        let E = window.wangEditor;
        let questionEditor = new E("#questionEditor");
        let noteEditor = new E("#noteEditor");
        let scoreEditor = new E("#scoreEditor");
        let wangMenu = [
            'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
            'image',  // 插入图片
            'table',  // 表格
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
        ];
        questionEditor.customConfig.menus = wangMenu;
        noteEditor.customConfig.menus = wangMenu;
        scoreEditor.customConfig.menus = wangMenu;
        questionEditor.customConfig.emotions = [{
            title: '微博表情',  // 组名称
            type: 'image',
            content: emoji
        }];
        noteEditor.customConfig.emotions = [{
            title: '微博表情',  // 组名称
            type: 'image',
            content: emoji
        }];
        scoreEditor.customConfig.emotions = [{
            title: '微博表情',  // 组名称
            type: 'image',
            content: emoji
        }];
        questionEditor.create();
        noteEditor.create();
        scoreEditor.create();
        let star = $("#collection_span");
        let empty_star = $("#collection_cancel_span");
        let course_id = $("#courseId");
        let btnQuestion = $("#btn_question");
        let btnNote = $("#btn_note");
        let btnScore = $("#btn_score");
        //_csrf
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        $.get({
            url: '/user/rest/isCollection/' + course_id,
            success: function (response) {
                if (response.code) {
                    star.show();
                    empty_star.hide()
                } else {
                    empty_star.show();
                    star.hide();
                }
            }
        });
        star.click(function () {
            $.get({
                url: '/user/rest/collection/cancel/' + course_id,
                success: function (response) {
                    if (response.code) {
                        empty_star.show();
                        star.hide();
                    } else {
                        alert(response.message)
                    }
                }
            })
        });
        empty_star.click(function () {
            $.get({
                url: '/user/rest/collection/course/' + course_id.val(),
                success: function (response) {
                    console.log(response);
                    if (response.code) {
                        empty_star.hide();
                        star.show();
                    } else {
                        alert(response.message)

                    }
                }
            })
        });
        btnQuestion.click(function () {
            $.post({
                url: '/course/rest/question',
                data: JSON.stringify({
                    courseId: course_id.val(),
                    question: questionEditor.txt.html()
                }),
                contentType: "application/json",
                success: function (response) {
                    if (response.code === true) {
                        $("#question_ul").prepend(`
                        <div class="wenda-listcon mod-qa-list clearfix">
                            <div class="headslider qa-medias l">
                                <img src='` + response.data.avatar + `' width="40" height="40">
                            </div>
                            <div class="wendaslider qa-content">
                                <div class="tit">
                                    <a href="#" target="_blank">` + response.data.username + `</a>
                                </div>
                                <div class="cnt" >` + questionEditor.txt.html() + `</div>
                                <div class="replymegfooter qa-footer clearfix">
                                    <div class="l-box l">
                                    </div>
                                    <span class="r timeago">时间:` + response.data.time + `</span>
                                </div>
                            </div>
                        </div>
                        `);
                        questionEditor.txt.html("")
                    }
                }
            })
        });
        btnNote.click(function () {
            $.post({
                url: '/course/rest/note',
                data: JSON.stringify({
                    courseId: course_id.val(),
                    note: noteEditor.txt.html()
                }),
                contentType: "application/json",
                success: function (response) {
                    if (response.code === true) {
                        $("#note_ul").prepend(`
                        <li>
                            <div class="wenda-listcon mod-qa-list clearfix">
                                <div class="headslider qa-medias l">
                                    <img src="` + response.data.avatar + `" width="40" height="40">
                                </div>
                                <div class="wendaslider qa-content">
                                    <div class="tit">
                                        <a href="#" target="_blank">` + response.data.username + `</a>
                                    </div>
                                    <div class="cnt">` + noteEditor.txt.html() + `</div>
                                    <div class="replymegfooter qa-footer clearfix">
                                        <div class="l-box l">
                                            <!--   <a href="/video/17148" class="from">2-8 Storm集群环境搭建</a>-->
                                        </div>
                                         <span class="r timeago">时间:` + response.data.time + `</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        `);
                        noteEditor.txt.html("")
                    }
                }
            })
        });
        btnScore.click(function () {
            let cusScore = $("#star_fenshu").text();

            if (cusScore == null || cusScore === '') {
                let conScore = confirm("评分为0?")
                if (conScore === true) {
                    cusScore = 0;
                } else {
                    alert("取消评论!");

                }
            }
            $.post({
                url: '/course/rest/score',
                data: JSON.stringify({
                    courseId: course_id.val(),
                    score: cusScore == null ? 0 : cusScore,
                    wishes: scoreEditor.txt.html()
                }),
                contentType: "application/json",
                success: function (response) {
                    if (response.code === true) {
                        $("#score_ul").prepend(`
                        <li>
                            <div class="wenda-listcon mod-qa-list clearfix">
                                <div class="headslider qa-medias l">
                                    <img src="` + response.data.avatar + `" width="40" height="40">
                                </div>
                                <div class="wendaslider qa-content">
                                    <div class="tit">
                                        <a href="#" target="_blank">` + response.data.username + `</a>
                                    </div>
                                    <div class="r">
                                        <ul class="show_number clearfix">
                                            <li>
                                                <div class="atar_Show">
                                                    <p>` + cusScore + `</p>
                                                </div>
                                                <span></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cnt">` + scoreEditor.txt.html() + `</div>
                                    <div class="replymegfooter qa-footer clearfix">
                                        <div class="l-box l">
                                        </div>
                                        <span class="r timeago">时间:` + response.data.time + `</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        `);
                        scoreEditor.txt.html("")
                    } else {
                        alert(response.message);
                    }
                }
            });
        });

        scoreFun($(".startone"));

        //显示分数
        $(".show_number li p").each(function (index, element) {
            let num = $(this).attr("data");
            let www = num * 2 * 16;//
            $(this).css("width", www);
            $(this).parent(".atar_Show").siblings("span").text(num + "分");
        });
    })
</script>
</html>