<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>aaa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/custom-style.css">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>
<body>
<header th:replace="course/layout:: courseHeader"></header>
<div class="main">
    <div class="bg-other user-head-info">
        <div class="user-info clearfix">
            <div class="user-pic" data-is-fans="" data-is-follows="">
                <div class="user-pic-bg">
                    <img class="img" src="//img.mukewang.com/559ab35c0001a44301000100-140-140.jpg" alt="">
                </div><!--user-pic-big end-->
            </div>
            <div class="user-info-right">
                <h3 class="user-name clearfix">
                    <span>LinusTaylor</span>
                </h3>
                <!--25-->
                <p class="about-info">
                    <span>男</span>
                    <span>四川</span>
                    <span>成都市</span>
                    <span>学生</span>
                    <a class="more-user-info"><i class="imv2-arrow2_d"></i>更多信息</a>
                </p>
            </div>
            <div class="user-sign hide">
                <p class="user-desc">这位同学很懒，木有签名的说～</p>
            </div>
            <div class="study-info clearfix">
                <div class="item follows">
                    <div class="u-info-learn" title="学习时长254小时17分" style="cursor:pointer;">
                        <em>254h</em>
                        <span>学习时长 </span>
                    </div>
                </div>
                <div class="item follows">
                    <a href="/u/2121242/experience"><em>8066</em></a>
                    <span>经验</span>
                </div>
                <div class="item follows">
                    <a href="/u/2121242/credit"><em>41</em></a>
                    <span>积分</span>
                </div>
                <div class="item follows">
                    <a href="/u/2121242/follows"><em>3</em></a>
                    <span>关注</span>
                </div>
                <div class="item follows">
                    <a href="/u/2121242/fans"><em>0</em></a>
                    <span>粉丝</span>
                </div>
                <div class="item follows"><a href="/user/setbindsns" class="set-btn"><i class="icon-set"></i>个人设置</a>
                </div>
            </div><!--.study-info end-->
        </div><!-- .user-info end -->
    </div>
</div>
</body>
</html>