<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>aaa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/css/fileinput.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/custom-style.css">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>
<body>
<header th:replace="course/layout:: courseHeader"></header>
<!-- userInforModal -->
<div class="modal fade" id="userInforModal" tabindex="-1" role="dialog" aria-labelledby="userInforLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userInforLabel">用户信息</h4>
            </div>
            <div class="modal-body">
                <div class="emooc-container">
                    <div class="form-group">
                        <label for="chUsername">用户名:</label>
                        <input type="text" disabled class="form-control" th:value="${user.username}" id="chUsername"
                               name="username">
                    </div>
                    <div class="form-group">
                        <label for="chRealname">真实姓名:</label>
                        <input type="text" class="form-control" th:value="${user.realname}" id="chRealname"
                               name="realname">
                    </div>
                    <div class="form-group">
                        <label for="chTelephone">电话号码:</label>
                        <input type="text" class="form-control" th:value="${user.telephone}" id="chTelephone"
                               name="telephone">
                    </div>
                    <div class="form-group">
                        <label for="chBirthday">生日:</label>
                        <input type="date" class="form-control" th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}"
                               id="chBirthday" name="birthday">
                    </div>
                    <div class="form-group">
                        <label for="chGender">性别:</label>
                        <select name="gender" id="chGender" class="form-control">
                            <option value="0" th:selected="${user.gender.ordinal()} eq 0? true:false">男</option>
                            <option value="1" th:selected="${user.gender.ordinal()} eq 1? true:false">女</option>
                            <option value="2" th:selected="${user.gender.ordinal()} eq 2? true:false">保密</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="chPosition">职位:</label>
                        <select class="form-control" name="position" id="chPosition"
                                data-validate="require-select">
                            <option value="学生" th:selected="${user.position} eq '学生'? true:false">学生</option>
                            <option value="Python工程师" th:selected="${user.position} eq 'Python工程师'? true:false">
                                Python工程师
                            </option>
                            <option value="页面重构设计" th:selected="${user.position} eq '页面重构设计'? true:false">页面重构设计
                            </option>
                            <option value="Web前端工程师" th:selected="${user.position} eq 'Web前端工程师'? true:false">Web前端工程师
                            </option>
                            <option value="JS工程师" th:selected="${user.position} eq 'JS工程师'? true:false">JS工程师</option>
                            <option value="PHP开发工程师" th:selected="${user.position} eq 'PHP开发工程师'? true:false">PHP开发工程师
                            </option>
                            <option value="JAVA开发工程师" th:selected="${user.position} eq 'JAVA开发工程师'? true:false">
                                JAVA开发工程师
                            </option>
                            <option value="移动开发工程师" th:selected="${user.position} eq '移动开发工程师'? true:false">移动开发工程师
                            </option>
                            <option value="软件测试工程师" th:selected="${user.position} eq '软件测试工程师'? true:false">软件测试工程师
                            </option>
                            <option value="Linux系统工程师" th:selected="${user.position} eq 'Linux系统工程师'? true:false">
                                Linux系统工程师
                            </option>
                            <option value="交互设计师" th:selected="${user.position} eq '交互设计师'? true:false">交互设计师</option>
                            <option value="产品经理" th:selected="${user.position} eq '产品经理'? true:false">产品经理</option>
                            <option value="数据库工程师" th:selected="${user.position} eq '数据库工程师'? true:false">数据库工程师
                            </option>
                            <option value="软件工程师" th:selected="${user.position} eq '软件工程师'? true:false">软件工程师</option>
                            <option value="UI设计师" th:selected="${user.position} eq 'UI设计师'? true:false">UI设计师</option>
                            <option value="CG影视动画师" th:selected="${user.position} eq 'CG影视动画师'? true:false">CG影视动画师
                            </option>
                            <option value="全栈工程师" th:selected="${user.position} eq '全栈工程师'? true:false">全栈工程师</option>
                            <option value="算法工程师" th:selected="${user.position} eq '算法工程师'? true:false">算法工程师</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="chAddress">住址:</label>
                        <input type="text" id="chAddress" th:value="${user.address}" name="address"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="chSignature">个性签名:</label>
                        <textarea name="signature" id="chSignature" rows="6"
                                  class="form-control" th:field="${user.signature}"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="userInforUpdate" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- userAvatar -->
<div class="modal fade" id="userAvatarModal" tabindex="-1" role="dialog" aria-labelledby="userAvatarLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="userAvatarLabel">用户头像</h4>
            </div>
            <div class="modal-body">
                <div class="emooc-container">
                    <div class="form-group">
                        <label for="chUserAvatar">选择用户头像</label>
                        <input type="file" class="file" data-language='zh' id="chUserAvatar">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="userAvatarUpdate" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="emooc-settings-cont clearfix">
    <div class="emooc-setting-left l">
        <div class="emooc-avator-wapper">
            <div class="emooc-avator-mode">
                <img class="emooc-avator-img" id="userAvatar" th:src="${user.avatar}" width="92" height="92">
                <div class="emooc-update-avator" style="bottom: -30px;">
                    <p><a class="js-avator-link" data-toggle="modal" data-target="#userAvatarModal">更换头像</a></p>
                </div>
            </div>
            <div class="emooc-des-mode">
                <p th:text="${user.username}">LinusTaylor</p>
            </div>
        </div>
        <div class="emooc-list-wapper">
            <h2>账户管理</h2>
            <div class="emooc-line"></div>
            <ul class="emooc-menu">
                <li><a href="/user/setbindsns">账号绑定<span class="arr"><i
                        class="glyphicon glyphicon-chevron-right"></i></span></a></li>
                <li><a href="/user/setprofile" class="on">个人信息<span class="arr"><i
                        class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/oplog">操作记录<span class="arr"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/authenticate">实名认证<span class="arr"><i
                        class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/certificate">学籍认证<span class="arr"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/address">收件地址<span class="arr"><i
                        class="glyphicon glyphicon-chevron-right"></i></span></a></li>
            </ul>
        </div>
    </div>
    <div class="emooc-setting-right">
        <div class="emooc-setting-right-wrap emooc-wrap-boxes emooc-settings">
            <div class="emooc-formBox">
                <div id="setting-profile" class="emooc-setting-wrap emooc-setting-profile">
                    <div class="emooc-common-title">
                        个人信息
                        <a href="javascript: void(0);" class="pull-right js-edit-info" data-toggle="modal"
                           data-target="#userInforModal"><i class="icon-note"></i>编辑</a>
                    </div>
                    <div class="emooc-line"></div>
                    <div class="emooc-info-wapper">
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">昵称</label>
                            <div class="pull-left" th:text="${user.username}" id="username">LinusTaylor</div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">真实姓名</label>
                            <div class="pull-left" th:text="${user.realname}" id="realname"></div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">电话号码</label>
                            <div class="pull-left" th:text="${user.telephone}" id="telephone"></div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">生日</label>
                            <div class="pull-left" th:text="${#dates.format(user.birthday, 'yyyy-MM-dd')}"
                                 id="birthday"></div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">性别</label>
                            <div class="pull-left" th:text="${user.gender.name}" id="gender">男</div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">职位</label>
                            <div class="pull-left" id="position"
                                 th:text="${user.position} eq null ? ${'没有设置'} : ${user.position}"></div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">城市</label>
                            <div class="pull-left" id="address"
                                 th:text="${user.address} eq null ? ${'没有设置'} : ${user.address}"></div>
                        </div>

                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">个性签名</label>
                            <div class="pull-left" th:text="${user.signature}" id="signature">未设置</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/locales/zh.min.js"></script>
<script>
    $(document).ready(function () {
        //_csrf
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
        $("#userInforUpdate").click(function () {
            let birthday = new Date($("#chBirthday").val()).getTime();
            $.ajax({
                url: '/user/rest/information',
                type: 'PUT',
                data: JSON.stringify({
                    realname: $('#chRealname').val(),
                    telephone: $('#chTelephone').val(),
                    birthday: birthday,
                    gender: $('#chGender').val(),
                    position: $('#chPosition').val(),
                    address: $('#chAddress').val(),
                    signature: $('#chSignature').val()
                }),
                processData: false,
                contentType: 'application/json',
                success: function (response) {
                    alert("success:" + response.message);
                    $('#userInforModal').modal('hide');
                    $('#realname').text($('#chRealname').val());
                    $('#telephone').text($('#chTelephone').val());
                    $('#birthday').text($('#chBirthday').val());
                    $('#gender').text($('#chGender').find("option:selected").text());
                    $('#position').text($('#chPosition').val());
                    $('#address').text($('#chAddress').val());
                    $('#signature').text($('#chSignature').val());
                },
                error: function (response) {
                    alert("error:" + response.message);
                }
            })
        });

        $("#userAvatarUpdate").click(function () {
            let formData = new FormData();
            formData.append("avatar", $("#chUserAvatar")[0].files[0]);
            $.ajax({
                url: '/user/rest/avatar',
                type: 'PUT',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert("success:" + response.message);
                    $('#userAvatarModal').modal('hide');
                    $('#userAvatar').attr("src", response.data);
                },
                error: function (response) {
                    alert("error:" + response.message);
                }
            })
        });
    })
</script>
</html>