<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>aaa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/custom-style.css">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>
<body>
<header th:replace="course/layout:: courseHeader"></header>
<div class="emooc-settings-cont clearfix">
    <div class="emooc-setting-left l">
        <div class="emooc-avator-wapper">
            <div class="emooc-avator-mode">
                <img class="emooc-avator-img" th:src="${user.avatar}" width="92" height="92">
                <div class="emooc-update-avator" style="bottom: -30px;">
                    <p><a href="javascript:void(0);" class="js-avator-link">更换头像</a></p>
                </div>
            </div>
            <div class="emooc-des-mode">
                <p th:text="${user.username}">LinusTaylor</p>
            </div>
        </div>
        <div class="emooc-list-wapper">
            <h2>账户管理</h2>
            <div class="emooc-line"></div>
            <ul class="emooc-menu">
                <li><a href="/user/setbindsns">账号绑定<span class="arr"><i
                        class="glyphicon glyphicon-chevron-right"></i></span></a></li>
                <li><a href="/user/setprofile" class="on">个人信息<span class="arr"><i
                        class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/oplog">操作记录<span class="arr"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/authenticate">实名认证<span class="arr"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/certificate">学籍认证<span class="arr"><i class="glyphicon glyphicon-chevron-right"></i></span></a>
                </li>
                <li><a href="/user/address">收件地址<span class="arr"><i
                        class="glyphicon glyphicon-chevron-right"></i></span></a></li>
            </ul>
        </div>
    </div>
    <div class="emooc-setting-right">
        <div class="emooc-setting-right-wrap emooc-wrap-boxes emooc-settings">
            <div class="emooc-formBox">
                <div id="setting-profile" class="emooc-setting-wrap emooc-setting-profile">
                    <div class="emooc-edit-info" style="display: none;">
                        <form class="emooc-js-wapper-form">
                            <div class="emooc-moco-form-group">
                                <label for="" class="emooc-moco-control-label">昵称：</label>
                                <div class="emooc-moco-control-input">
                                    <input type="text" name="nickname" id="nick" autocomplete="off"
                                           data-validate="require-nick" class="moco-form-control" value="LinusTaylor"
                                           placeholder="请输入昵称">
                                    <div class="rlf-tip-wrap errorHint color-red"></div>
                                </div>
                            </div>
                            <div class="moco-form-group">
                                <label for="" class="moco-control-label">职位：</label>
                                <div class="moco-control-input">
                                    <select class="moco-form-control rlf-select" name="job" hidefocus="true" id="job"
                                            data-validate="require-select">
                                        <option value="">请选择职位</option>
                                        <option value="13" selected="selected">学生</option>
                                        <option value="18">Python工程师</option>
                                        <option value="1">页面重构设计</option>
                                        <option value="6">Web前端工程师</option>
                                        <option value="5">JS工程师</option>
                                        <option value="8">PHP开发工程师</option>
                                        <option value="11">JAVA开发工程师</option>
                                        <option value="7">移动开发工程师</option>
                                        <option value="9">软件测试工程师</option>
                                        <option value="10">Linux系统工程师</option>
                                        <option value="2">交互设计师</option>
                                        <option value="3">产品经理</option>
                                        <option value="15">数据库工程师</option>
                                        <option value="21">软件工程师</option>
                                        <option value="4">UI设计师</option>
                                        <option value="17">CG影视动画师</option>
                                        <option value="16">全栈工程师</option>
                                        <option value="20">算法工程师</option>
                                    </select>
                                    <div class="rlf-tip-wrap errorHint color-red"></div>
                                </div>
                            </div>
                            <div class="moco-form-group wlfg-wrap">
                                <label for="" class="moco-control-label">所在地区：</label>
                                <div class="moco-control-input profile-address">
                                    <select id="province-select" class="moco-form-control" hidefocus="true">
                                        <option value="0">省</option>
                                        <option value="1">北京</option>
                                        <option value="2">天津</option>
                                        <option value="3">河北</option>
                                        <option value="4">山西</option>
                                        <option value="5">内蒙古</option>
                                        <option value="6">辽宁</option>
                                        <option value="7">吉林</option>
                                        <option value="8">黑龙江</option>
                                        <option value="9">上海</option>
                                        <option value="10">江苏</option>
                                        <option value="11">浙江</option>
                                        <option value="12">安徽</option>
                                        <option value="13">福建</option>
                                        <option value="14">江西</option>
                                        <option value="15">山东</option>
                                        <option value="16">河南</option>
                                        <option value="17">湖北</option>
                                        <option value="18">湖南</option>
                                        <option value="19">广东</option>
                                        <option value="20">海南</option>
                                        <option value="21">广西</option>
                                        <option value="22">甘肃</option>
                                        <option value="23">陕西</option>
                                        <option value="24">新疆</option>
                                        <option value="25">青海</option>
                                        <option value="26">宁夏</option>
                                        <option value="27">重庆</option>
                                        <option value="28" selected="selected">四川</option>
                                        <option value="29">贵州</option>
                                        <option value="30">云南</option>
                                        <option value="31">西藏</option>
                                        <option value="32">台湾</option>
                                        <option value="33">澳门</option>
                                        <option value="34">香港</option>
                                        <option value="100">其他</option>
                                    </select>
                                    <select class="moco-form-control" id="city-select" hidefocus="true">
                                        <option value="0">市</option>
                                        <option value="225" selected="selected">成都市</option>
                                        <option value="226">攀枝花市</option>
                                        <option value="227">自贡市</option>
                                        <option value="228">绵阳市</option>
                                        <option value="229">南充市</option>
                                        <option value="230">达州市</option>
                                        <option value="231">遂宁市</option>
                                        <option value="232">广安市</option>
                                        <option value="233">巴中市</option>
                                        <option value="234">泸州市</option>
                                        <option value="235">宜宾市</option>
                                        <option value="236">资阳市</option>
                                        <option value="237">内江市</option>
                                        <option value="238">乐山市</option>
                                        <option value="239">眉山市</option>
                                        <option value="240">凉山彝族自治州</option>
                                        <option value="241">雅安市</option>
                                        <option value="242">甘孜藏族自治州</option>
                                        <option value="243">阿坝藏族羌族自治州</option>
                                        <option value="244">德阳市</option>
                                        <option value="245">广元市</option>
                                    </select>
                                    <select class="moco-form-control mr0" id="area-select" hidefocus="true">
                                        <option value="0">区县</option>
                                        <option value="1875">锦江区</option>
                                        <option value="1876">青羊区</option>
                                        <option value="1877">金牛区</option>
                                        <option value="1878">武侯区</option>
                                        <option value="1879">成华区</option>
                                        <option value="1880">龙泉驿区</option>
                                        <option value="1881">青白江区</option>
                                        <option value="1882">新都区</option>
                                        <option value="1883">温江区</option>
                                        <option value="1884">金堂县</option>
                                        <option value="1885">双流县</option>
                                        <option value="1886" selected="selected">郫县</option>
                                        <option value="1887">大邑县</option>
                                        <option value="1888">蒲江县</option>
                                        <option value="1889">新津县</option>
                                        <option value="1890">都江堰市</option>
                                        <option value="1891">彭州市</option>
                                        <option value="1892">邛崃市</option>
                                        <option value="1893">崇州市</option>
                                    </select>
                                    <div class="rlf-tip-wrap errorHint color-red"></div>
                                </div>
                            </div>
                            <div class="moco-form-group wlfg-wrap">
                                <label for="" class="moco-control-label h16 lh16">性别：</label>
                                <div class="moco-control-input rlf-group rlf-radio-group">
                                    <label><input type="radio" hidefocus="true" value="0" name="sex">保密</label>
                                    <label><input type="radio" hidefocus="true" value="1" checked="checked" name="sex">男</label>
                                    <label><input type="radio" hidefocus="true" value="2" name="sex">女</label>
                                    <div class="rlf-tip-wrap errorHint color-red"></div>
                                </div>
                            </div>
                            <div class="moco-form-group wlfg-wrap">
                                <label for="" class="moco-control-label">个性签名：</label>
                                <div class="moco-control-input">
                                    <div class="pr">
                                        <textarea name="aboutme" id="aboutme" rows="5"
                                                  class="noresize js-sign moco-form-control"></textarea>
                                        <p class="numCanInput js-numCanInput ">还可以输入128个字符</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="emooc-common-title">
                        个人信息
                        <a href="javascript: void(0);" class="pull-right js-edit-info"><i class="icon-note"></i>编辑</a>
                    </div>
                    <div class="emooc-line"></div>
                    <div class="emooc-info-wapper">
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">昵称</label>
                            <div class="pull-left" th:text="${user.username}">LinusTaylor</div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">职位</label>
                            <div class="pull-left" th:text="${user.position} eq null ? ${'没有设置'} : ${user.position}">
                                学生
                            </div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">城市</label>
                            <div class="pull-left" th:text="${user.address} eq null ? ${'没有设置'} : ${user.address}">四川
                            </div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">性别</label>
                            <div class="pull-left" th:text="${user.gender.name}">
                                男
                            </div>
                        </div>
                        <div class="emooc-info-box clearfix">
                            <label class="pull-left">个性签名</label>
                            <div class="pull-left" th:text="${user.signature}">未设置</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div hidden>
    <form action="" enctype="multipart/form-data">
        <input id="avatar" type="file" name="avatar"/>
        <button id="upload" type="button">upload</button>
    </form>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
    $(document).ready(function () {
        //_csrf
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });

        $("#upload").click(function () {
            let formData = new FormData();
            formData.append("avatar", $("#avatar")[0].files[0]);
            $.ajax({
                url: '/user/rest/avatar',
                type: 'PUT',
                cache: false,
                data: formData,
                processData: false,
                contentType: false
            }).done(function (res) {
                console.log(true)
            }).fail(function (res) {
                console.log(fasle)
            });

        })
    })


</script>
</html>