<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/layout::adminHead"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="admin/layout::header"></div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item "><!--layui-nav-itemed-->
                    <a href="javascript:;">教师管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/tms">总览</a></dd>
                        <dd><a href="/admin/tms/add">添加教师</a></dd>
                        <dd><a href="/admin/lms/teacher">教师日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/sms">总览</a></dd>
                        <dd><a href="/admin/lms/user">用户日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">日志管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/lms">用户日志</a></dd>
                        <dd><a href="/admin/lms/teacher">讲师日志</a></dd>
                        <dd><a href="/admin/lms/admin">管理员日志</a></dd>
                        <dd><a href="/admin/lms/user">用户日志</a></dd>
                        <dd><a href="/admin/lms/error">错误日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body" style="padding: 15px;">
        <div class="container">
            <table class="layui-table"
                   lay-data="{height: 'full-200',limit:30, cellMinWidth: 100, url:'/admin/logger/admin', page:true, id:'teacher'}"
                   lay-filter="users">
                <thead>
                <tr>
                    <th lay-data="{field:'id', width:200, sort: true}">ID</th>
                    <th lay-data="{field: 'who', width:100}">姓名</th>
                    <th lay-data="{field: 'operation', width: 150}">操作</th>
                    <th lay-data="{field:'time', width:200}">时间</th>
                    <th lay-data="{field: 'equipment', width: 250}">设备</th>
                    <th lay-data="{field: 'ip', width: 150}">IP</th>
                    <th lay-data="{field: 'result', width: 100}">结果</th>
                    <th lay-data="{field:'comment', minWidth: 150}">备注</th>
                </tr>
                </thead>
            </table>
        </div>
        <div th:replace="admin/layout::adminFooter"></div>
    </div>
</div>
</body>
<script th:src="@{/layui/layui.all.js}"></script>
<script src="/static/layui/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
</html>