.height {
    height: 200px;
    border: 1px solid red;
}

.emooc-logo {
    color: #009688;
    display: block;
    font-size: 16px;
    font-stretch: normal;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    width: 200px;
}

.emooc-teacher-div {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}

.emooc-teacher-input {
    width: 50%;
    height: 34px;
    border: 1px solid #999999;
}

.emooc-teacher-textarea {
    height: 38px;
    line-height: 1.3;
    line-height: 38px \9;
    border: 1px solid;
    background-color: #fff;
    border-radius: 2px
}

.emooc-teacher-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
}

.emooc-teacher-info {
    display: inline-block;
}

.emooc-teacher-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.emooc-course-description {
    line-height: 28px;
}

.emooc-course-wrap {
    margin-bottom: 8px;
    padding: 24px 32px 32px;
    background: #FFF;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, .1);
    border-radius: 12px;
}

.emooc-course-chapters .emooc-chapter h3 {
    color: #1c1f21;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.emooc-course-info-main {
    padding-right: 352px;
    margin-bottom: 29px;
    overflow: visible;
}

.emooc-course-info-main .content {
    float: left;
    padding-top: 36px;
    width: 100%;
}

.emooc-course-aside-info {
    margin-top: 120px;
    margin-bottom: 32px;
    min-height: 150px;
}

.emooc-moco-btn-lg {
    padding: 11px 32px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 24px;
}

.emooc-moco-btn-red {
    cursor: pointer;
    -weibkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff;
    background-color: #f20d0d;
    border: 1px solid #f20d0d;
    opacity: 1;
}

.emooc-course-info-main .aside .learn-btn a {
    display: block;
}

.emooc-course-info-tip {
    padding-top: 24px;
}

.autowrap {
    word-wrap: break-word;
    word-break: break-all;
}

.recom-course-list-box .recom-course-list li {
    width: 100%;
    padding: 16px 0;
}

.recom-course-list-box .recom-course-list li .content-box {
    width: 260px;
}

.recom-course-list-box .recom-course-list li .content-box .smalle-title {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recom-course-list-box .recom-course-list li .content-box .learn-detail {
    font-size: 12px;
    color: #545C63;
    line-height: 18px;
}

.emooc-col-md3 {
    position: relative;
    display: block;
    box-sizing: border-box;
    float: left;
    width: 25%;
}

.emooc-col-md3-space5 {
    position: relative;
    display: block;
    box-sizing: border-box;
    float: left;
    width: calc(25% - 10px);
}

.emooc-wrap {
    width: 100%;
    background-color: #fff;
    padding-bottom: 12px;
}

.emooc-wrap .emooc-top {
    margin: auto;
}

.emooc-wrap div {
    display: block;
}

.emooc-course-content {
    padding-top: 12px;
    float: none;
    width: 100%;
    box-shadow: none;
}

.emooc-course-nav-box {

}

.emooc-course-nav-row {
    position: relative;
    padding: 16px 0 5px;
    border-bottom: 1px solid #edf1f2;
}

.emooc-course-nav-row .hd {
    width: 52px;
    height: 20px;
    line-height: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #07111b;
    text-align: right;
}

.emooc-l {
    float: left;
}

.emooc-bd {
    margin-left: 64px;
}

ol, ul {
    list-style: none;
}

.emooc-course-nav-item {
    display: inline-block;
    margin: 0 4px;
}

.emooc-course-nav-item.on a {
    background: #2b333b;
    color: #fff !important;
    border-radius: 5px;
}

.emooc-course-nav-item a {
    display: block;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
}

.emooc-course-nav-item a:link {
    color: #1c1f21;
}

:link, :visited, ins {
    text-decoration: none;
}

a, button, input {
    outline: 0;
}

a:active, a:hover {
    outline: 0;
}

.admin-num-container {
    height: 150px;
    background-color: #f2f2f2;
    position: relative;
    margin: 5px;
    padding: 10px 5px 5px 10px !important;
    border-radius: 5px;
}

.admin-num {
    font-size: 70px;
    line-height: 110px;
    text-align: center;
    color: #adbe69;

    left: 20px;
}

.emooc-container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    width: 90%;
}

.emooc-course-tool-bar {
    position: relative;
    padding-top: 26px;
    padding-bottom: 16px;
    overflow: hidden;
    height: 14px !important;
    margin-top: -1px;
    padding-right: 15px;
    font-size: 12px;
}

.emooc-course-tool-bar .emooc-tool-iseasy,
.emooc-course-tool-bar .emooc-tool-iseasy a,
.emooc-course-tool-bar .emooc-tool-left a {
    margin: 0 12px;
    line-height: 14px;
    font-size: 14px;
    color: #787d82;
}

.emooc-course-tool-bar .emooc-tool-right {
    margin-top: -5px;
    color: #787d82;
}

.emooc-tool-bar .emooc-tool-left a {
    margin: 0 12px;
    line-height: 14px;
    font-size: 14px;
    color: #787d82;
}

.emooc-course-list {
    padding: 10px 0 20px;
}

.emooc-moco-course-list {
    font-family: "PingFang SC", Helvetica, "Helvetica Neue", 微软雅黑, Tahoma, Arial, sans-serif;
    margin: 0 0 0 -18px;
}

.emooc-course-card-container {
    float: left;
    margin: 0 0 30px 20px;
    height: 256px;
    width: 216px;
    position: relative;
    transition: .3s all linear;
}

.emooc-course-card-container .emooc-course-card-top {
    width: 216px;
    height: 120px;
    position: relative;
    border-radius: 8px;
    transition: all .3s;
}

.emooc-course-card-container .emooc-course-card-top .emooc-course-banner {
    width: 100%;
    height: 100%;
    background-color: #f3f5f7;
    border-radius: 8px;
}

.emooc-course-card-container .emooc-course-card-top .emooc-course-label {
    position: absolute;
    bottom: 6px;
    left: 8px;
    font-size: 12px;
    color: #FFF;
    line-height: 16px;
}

.emooc-course-card-container .emooc-course-card-top .emooc-course-label label {
    display: inline-block;
    background: rgba(7, 17, 27, .4);
    border-radius: 12px;
    padding: 4px 8px;
    margin-bottom: 2px;
    margin-right: 0;
    font-weight: 200;
}

.emooc-course-card-container .emooc-course-card-content {
    padding: 12px 8px;
}

.emooc-course-card-container .emooc-course-card-content .emooc-course-card-name {
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 46px;
    transition: all .3s;
}

.emooc-course-card-container .emooc-course-card-content .emooc-course-card-info {
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    font-weight: 400;
}

.emooc-course-card-container .emooc-course-card-content .emooc-course-card-desc {
    font-size: 12px;
    font-weight: 300;
    color: #93999F;
    line-height: 22px;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 44px;
}

.bg-author, .bg-other, .bg-teacher {
    background: url(../images/temp1.png) center top no-repeat #000;
    background-size: cover;
}

.user-head-info .user-info {
    position: relative;
    width: 1152px;
    margin: 0 auto;
}

.user-head-info .user-info .user-pic {
    float: left;
    width: 148px;
    height: 148px;
}

.user-head-info .user-info .user-info-right {
    float: right;
    width: 980px;
}

.user-head-info .user-info .user-sign {
    font-size: 14px;
    color: #FFF;
    line-height: 24px;
    width: 440px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

.user-head-info .study-info {
    position: absolute;
    top: 48px;
    right: 10px;
    min-width: 200px;
    text-align: right;
}

.issques form, .mod-qa-list, .pub-btm {
    position: relative;
}

.mod-qa-list div {
    display: block;
}

.l {
    float: left;
}

.r {
    float: right;
}

.mod-qa-list {
    margin-bottom: 8px;
    padding: 32px;
    background: #FFF;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, .1);
    border-radius: 12px;
}

.mod-qa-list .qa-medias {
    width: 96px;
    overflow: hidden;
    text-align: center;
}

.mod-qa-list .qa-medias img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    vertical-align: top;
}

.mod-qa-list .qa-content {
    padding-right: 20px;
    min-height: 85px;
    position: relative;
    overflow: hidden;
}

.mod-qa-list .qa-content, .mod-qa-list .qa-header .name, .mod-qa-list .qa-header .qa-tit, .replydes {
    word-wrap: break-word;
    word-break: break-all;
}

.mod-qa-list .qa-footer {
    margin-top: 12px;
    color: #93999f;
    font-size: 12px !important;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: normal;
    font-weight: 400;
}

a.active {
    color: #f01414;
}

.avatar-add {
    position: relative;
    width: 373px;
    height: 373px;
    background-color: #F2F2F5;
}

.avatar-add .upload-img {
    position: absolute;
    left: 50%;
    top: 35px;
    margin: 0 0 0 -56px;
}

.avatar-add img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 168px;
    height: 168px;
    margin: -50px 0 0 -84px;
    border-radius: 100%;
}

.avatar-add .loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    background-color: #000;
    opacity: 0.5;
    filter: Alpha(opacity=50);
}

.avatar-add p {
    position: absolute;
    top: 70px;
    width: 100%;
    margin-top: 10px;;
    font-size: 12px;
    text-align: center;
    color: #999;
}

.app-bind li {
    margin-bottom: 10px;
    line-height: 30px;
    color: #999;
}

.app-bind li .iconfont {
    position: relative;
    top: 3px;
    margin-right: 5px;
    font-size: 28px;
}

.app-bind .app-havebind {
    color: #333;
}

.app-bind .app-havebind .icon-qq {
    color: #7CA9C9
}

.app-bind .app-havebind .icon-weibo {
    color: #E6162D
}

.fly-msg, .fly-error {
    padding: 10px 15px;
    line-height: 24px;
}

.fly-msg {
    background-color: #F8F8F8;
    color: #666;
}

.fly-msg a {
    color: #4F99CF
}

.fly-editbox {
    position: relative;
}

/*星星样式*/
.block .star_score {
    float: left;
}

.star_list {
    height: 21px;
    margin: 50px;
    line-height: 21px;
}

.block p,
.block .attitude {
    padding-left: 20px;
    line-height: 21px;
    display: inline-block;
}

.block p span {
    color: #C00;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.star_score {
    background: url(/images/stark2.png);
    width: 160px;
    height: 21px;
    position: relative;
}

.star_score a {
    height: 21px;
    display: block;
    text-indent: -999em;
    position: absolute;
    left: 0;
}

.star_score a:hover {
    background: url(/images/stars2.png);
    left: 0;
}

.star_score a.clibg {
    background: url(/images/stars2.png);
    left: 0;
}

#starttwo .star_score {
    background: url(/images/starky.png);
}

#starttwo .star_score a:hover {
    background: url(/images/starsy.png);
    left: 0;
}

#starttwo .star_score a.clibg {
    background: url(/images/starsy.png);
    left: 0;
}

/*星星样式*/

.show_number {
    display: inline-block;
    padding-left: 10px
}

.show_number li {
    width: 240px;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.atar_Show {
    background: url(/images/stark2.png);
    width: 160px;
    height: 21px;
    position: relative;
    float: left;
}

.atar_Show p {
    background: url(/images/stars2.png);
    left: 0;
    height: 21px;
    width: 134px;
}

.show_number li span {
    display: inline-block;
    line-height: 21px;
}

