<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
admin login
<form name='f' th:action='@{/login}' method='POST'>
    <div>
        <label for="username">用户名: </label>
        <input type='text' autofocus name='username' id="username" value=''/>
    </div>
    <div>
        <label for="password">密码: </label>
        <input type='password' id="password" name='password'/>
    </div>
    <input type="text" hidden name="role" id="role" value="ADMIN">
    <input name="submit" type="submit" value="登陆"/>
    <input type="reset" th:value="重置">
</form>

</body>
</html>