<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout::headerFragment">
</head>
<body>

<div hidden="hidden">
    <div th:include="layout::navFragment"></div>
    点击<a th:href="@{/login}">用户</a>
    <a th:href="@{/alogin}">admin</a>
    <a th:href="@{/tlogin}">teacher</a>
    <a href="mailto:wanlinus@qq.com?subject=申请Emooc讲师">申请</a>讲师
    <div sec:authorize='hasAuthority("ADMIN")'>
        <p th:text="admin">Admin</p>
        asdasdasd
    </div>
    <div sec:authorize="hasAuthority('USER')">
        <span sec:authentication="principal.authorities"></span>
        <p th:text="USER">User</p>
    </div>

    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.authorities"></span>
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize='hasAuthority("ADMIN")'>
        <span sec:authentication="principal.authorities"></span>
        This content is only shown to administrators.
    </div>
    <div sec:authorize="hasAuthority('USER')">
        <span sec:authentication="principal.authorities"></span>
        This content is only shown to users.
    </div>
</div>
<a th:href="@{/login}" hidden>
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="backstretch"></div>
</a>
</body>
<script>
    $(document).ready(function () {
        $(location).attr('href', 'login');
    })
</script>
</html>