<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::headerFragment">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:include="layout::navFragment">
</div>
<h3>Login with Username and Password</h3>
<form name='f' th:action='@{login}' method='POST'>
    <div>
        <label for="username">用户名: </label>
        <input type='text' autofocus name='username' id="username" value=''/>
    </div>
    <div>
        <label for="password">密码:</label>
        <input type='password' id="password" name='password'/>
    </div>
    <input hidden type="text" name="role" id="role" value="USER">
    <input name="submit" type="submit" value="登陆"/>
    <input type="reset" th:value="重置">
    还没有<a th:href="@{/register}">注册</a>?
</form>
<div th:replace="layout::footerFragment"></div>
</body>
</html>