<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::headerFragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <!-- CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
<!--forget Password modal-->
<div class="modal fade" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgetPasswordLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="forgetPasswordLabel">找回密码</h4>
            </div>
            <div class="modal-body">
                <div style="width: 75%;margin: auto;">
                    <div class="row">
                        <div class="input-group col-lg-12">
                            <input type="text" id="fgEmail" class="form-control" placeholder="输入邮箱">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"
                                        style="height: 46px;border-bottom-right-radius: 18px;border-top-right-radius: 18px; "
                                        id="fgEmailBtn" type="button">发送验证码</button>
                            </span>
                        </div>
                    </div>
                    <div class="row" id="fgCaptDiv" style="padding-top: 10px" hidden="hidden">
                        <div class="input-group col-lg-12">
                            <input type="text" id="fgCapt" class="form-control"
                                   placeholder="请输入收到的验证码">
                            <span class="input-group-btn">
                                <button class="btn btn-primary"
                                        style="height: 46px;border-bottom-right-radius: 18px;border-top-right-radius: 18px; "
                                        id="fgCaptBtn" type="button">验证身份</button>
                            </span>
                        </div>
                    </div>
                    <div class="row " id="fgPDiv" style="padding-top: 10px" hidden="hidden">
                        <div class="input-group col-lg-12">
                            <input type="password" id="fgPassword" class="form-control" style="border-radius: 18px"
                                   placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="row" id="fgP2Div" style="padding-top: 10px;" hidden="hidden">
                        <div class="input-group col-lg-12">
                            <input type="password" id="fg2Password" class="form-control" style="border-radius: 18px"
                                   placeholder="请重复密码">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="userPasswordUpdate" disabled class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="register-modal" role="dialog" aria-labelledby="reg_modal_title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="reg_modal_title">信息确认</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">用户名: <span id="post_username"></span></div>
                    <div class="row">邮箱: <span id="post_email"></span></div>
                    <div class="row">密码: <span id="post_password"></span></div>
                </div>
                <button id="reg_post" class="btn btn=primary">提交</button>
            </div>
        </div>
    </div>
</div>
<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text">
                    <h1><strong>EMOOC</strong></h1>
                    <h1>
                        <small style="color: #FFFFFF;">Everyone's Massive Open Online Courses</small>
                    </h1>
                    <div class="description">
                        <p> 让更多热爱互联网的同学来慕课网学习，多年以后，圈子里一批技术牛说：我在
                            <a href="http://wanlinus.cn"><strong>慕课网</strong></a>学习过，这就够了。
                        </p>
                    </div>
                </div>
                <div class="col-sm-5 form-box">
                    <div class="panel panel-default myForm">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a class="all" href="#login" aria-controls="login" role="tab"
                                       data-toggle="tab">登录</a>
                                </li>
                                <li role="presentation">
                                    <a class="all" href="#register" aria-controls="register"
                                       role="tab" data-toggle="tab">注册</a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="login">
                                    <div class="container-fluid">
                                        <div class="row top">
                                            <div class="col-lg-12 col-md-12">
                                                <form th:action='@{/login}' name='f' method='POST'>
                                                    <div class="form-group">
                                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                                        <input type="text" class="form-control input-lg" autofocus
                                                               id="login_username" name="username" placeholder="用户名">
                                                    </div>
                                                    <div class="form-group">
                                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                                        <input type="password" class="form-control input-lg"
                                                               id="login_password" name="password" placeholder="密码">
                                                    </div>
                                                    <div class="checkbox clearfix">
                                                        <label class="pull-left">
                                                            <input type="checkbox" name="remember-me"> 记住密码
                                                        </label>
                                                        <label class="pull-right">
                                                            <a data-toggle="modal"
                                                               data-target="#forgetPasswordModal">忘记密码？</a>
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <i class="fa fa-id-card-o" aria-hidden="true"></i>
                                                        <select class="form-control" name="role">
                                                            <option value="USER">学生</option>
                                                            <option value="TEACHER">教师</option>
                                                            <option value="ADMIN">超级管理员</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group clearfix" hidden>
                                                        <div class="col-md-8 col-xs-8 to-left">
                                                            <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                                                            <input type="text" class="form-control input-lg"
                                                                   placeholder="暂时不需要填写"
                                                                   id="exampleInputPassword1">
                                                        </div>
                                                        <div class="col-md-5 col-xs-5 no-padding">
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-lg">登录</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row bottom">
                                            <div class="col-lg-12 col-md-12 clearfix">
                                                <span>第三方登录</span>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-4">
                                                <span class="icon-qq"></span>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-4">
                                                <span class="icon-weixin"></span>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-xs-4">
                                                <span class="icon-weibo"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="register">
                                    <div class="container-fluid">
                                        <div class="row top">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                                    <input type="text" class="form-control input-lg"
                                                           id="reg_username" name="username" placeholder="登陆名">
                                                    <span id="reg_user_msg"></span>
                                                </div>
                                                <div class="form-group">
                                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                                    <input type="email" class="form-control input-lg"
                                                           name="email" id="reg_email" placeholder="电子邮箱">
                                                    <span id="reg_email_msg"></span>
                                                </div>
                                                <div class="form-group">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                    <input type="password" class="form-control input-lg"
                                                           id="reg_password" name="password" placeholder="密码">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                                    <input type="password" class="form-control input-lg"
                                                           id="reg_password2" placeholder="重复密码">
                                                </div>
                                                <button type="submit" id="reg_submit" disabled data-toggle="modal"
                                                        data-target="#register-modal"
                                                        class="btn btn-primary btn-lg register">注册
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row bottom">
                                            <div class="col-lg-12 col-md-12">已经注册，点击<a>登录</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backstretch"></div>
<!-- Javascript -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<script>
    $(document).ready(function () {
        let reg_post = $("#reg_post");
        let reg_submit = $("#reg_submit")
        let reg_username = $("#reg_username");
        let reg_password = $("#reg_password");
        let reg_email = $("#reg_email");
        let reg_user_msg = $("#reg_user_msg");
        let reg_email_msg = $("#reg_email_msg");
        let fgCaptBtn = $("#fgCaptBtn");
        let fgEmailBtn = $("#fgEmailBtn");
        let fgEmail = $("#fgEmail");
        let userPasswordUpdate = $("#userPasswordUpdate");
        let fgPassword = $("#fgPassword");

        reg_username.blur(function () {
            if (reg_username.val() != null && reg_username.val() !== "") {
                $.get({
                    url: "check/name?username=" + reg_username.val(),
                    success: function (response) {
                        reg_user_msg.html(response.message);
                        if (response.code) {
                            reg_submit.attr("disabled", false);
                        } else {
                            reg_submit.attr("disabled", true);
                        }
                    }
                })
            } else {
                reg_user_msg.html("不能为空");
            }
        });
        reg_email.blur(function () {
            if (reg_email.val() != null && reg_email.val() !== "") {
                $.get({
                    url: "check/email?email=" + reg_email.val(),
                    success: function (response) {
                        reg_email_msg.html(response.message);
                        console.log(response);
                        if (response.code) {
                            reg_submit.attr("disabled", false);
                        } else {
                            reg_submit.attr("disabled", true);
                        }
                    }
                })
            } else {
                reg_email_msg.html("不能为空");
            }
        });
        reg_submit.click(function () {
            $("#post_username").html(reg_username.val());
            $("#post_email").html(reg_email.val());
            $("#post_password").html(reg_password.val());
        });
        reg_post.click(function () {
            $.post({
                url: "register",
                data: JSON.stringify({
                    username: reg_username.val(),
                    password: reg_password.val(),
                    email: reg_email.val()
                }),
                contentType: "application/json",
                success: function (response) {
                    if (response.code) {
                        alert("注册成功, 请登录邮箱激活账号");
                        $(location).attr('href', 'login');
                    } else {
                        alert(response.message);
                    }
                }
            });
        });

        fgEmailBtn.click(function () {
            if (fgEmail.val() !== null && fgEmail.val() !== "") {
                $.ajax({
                    url: '/forget/password/email?email=' + fgEmail.val(),
                    type: 'GET',
                    success: function (response) {
                        if (!response.code) {
                            alert(response.message);
                            $("#fgCaptDiv").attr("hidden", "hidden");
                            fgEmail.attr("disabled", true);
                        } else {
                            alert(response.message);
                            $("#fgCaptDiv").attr("hidden", false);
                            fgEmail.attr("disabled", false);
                        }
                    }
                })
            }
        });
        fgCaptBtn.click(function () {
            if ($("#fgCapt").val() !== null) {
                $.ajax({
                    url: '/forget/password/email?email=' + fgEmail.val() + '&code=' + $("#fgCapt").val(),
                    type: 'GET',
                    success: function (response) {
                        if (response.code) {
                            $("#fgPDiv").attr("hidden", false);
                            $("#fgP2Div").attr("hidden", false);
                            $("#userPasswordUpdate").attr("disabled", false);
                            $("#fgCapt").attr("disabled", true);
                        } else {
                            $("#fgPDiv").attr("hidden", 'hidden');
                            $("#fgP2Div").attr("hidden", 'hidden');
                            $("#userPasswordUpdate").attr("disabled", true);
                            $("#fgCapt").attr("disabled", false);
                        }
                    }
                })
            }
        });
        userPasswordUpdate.click(function () {
            $.ajax({
                url: '/password',
                type: 'POST',
                data: JSON.stringify({
                    email: fgEmail.val(),
                    code: $("#fgCapt").val(),
                    password: fgPassword.val()
                }),
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    if (response.code) {
                        $('#forgetPasswordModal').modal('hide');
                    }
                    alert(response.message);
                }
            })
        });
    })
</script>
</html>