<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>欢迎来到EMooc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
</head>
<body>
<div class="container">
    <div class="form-group"></div>
</div>
<div>
    <h3>注册页面</h3>
    <div id="form">
        <div>
            <label for="username">用户名:</label>
            <input type="text" id="username" name="username" placeholder="用户名">
            <span hidden="hidden" id="user-no">用户名不能为空</span>
            <span hidden="hidden" id="user-yes">可以注册</span>
        </div>
        <div>
            <label for="password">密码:</label>
            <input type="password" id="password" name="password" placeholder="密码">
        </div>
        <div>
            <label for="email">Email:</label><input type="email" name="email" id="email">
        </div>
        <button id="register">注册</button>
        <input type="reset">
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script>
    $(document).ready(function () {

        let submit = $("#register");
        let username = $("#username");
        let password = $("#password");
        let email = $("#email");
        let userno = $("#user-no");
        let useryes = $("#user-yes");

        username.blur(function () {
            $.get({
                url: "check/name/" + username.val(),
                success: function (data) {
                    if (!data["data"]) {
                        console.log(data);
                        userno.hide();
                        useryes.show();
                    } else {
                        console.log("sadsad")
                    }
                }
            })
        });
        email.blur(function () {
            $.get({
                url: "check/email/" + email.val(),
                success: function (data) {
                    if (!data["data"]) {
                        console.log(data);
                    }
                }
            })
        });
        submit.click(function () {
            if (username.val() !== "" && password.val() !== "" && email.val() !== "") {
                $.confirm({
                    title: '请确定您的注册信息',
                    content: "用户名:" + $("#username").val()
                    + "<br/>密码:" + $("#password").val()
                    + "<br/>Email:" + $("#email").val(),
                    buttons: {
                        confirm: {
                            action: function () {
                                $.post({
                                    url: "register",
                                    data: JSON.stringify({
                                        username: username.val(),
                                        password: password.val(),
                                        email: email.val()
                                    }),
                                    contentType: "application/json",
                                    success: function (responseData) {
                                        console.log(responseData);
                                        $.alert({
                                            text: "注册成功",
                                            buttons: {
                                                ok: {
                                                    btnClass: "btn btn-success",
                                                    action: function () {
                                                        $(location).attr('href', 'login')
                                                    }

                                                }

                                            }
                                        })
                                    }
                                })
                            }
                            ,
                            btnClass: "btn btn-success"
                        },
                        cancel:

                            function () {
                                $.alert('Canceled!');
                            }
                    }
                })
            } else {
                $.alert("请确保全部填写!!")
            }
        })
        ;
    })


</script>
</body>
</html>