<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title sec:authorize="isAuthenticated()" sec:authentication="name">
    </title>
    <title sec:authorize="isAnonymous()">欢迎来到EMooc</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" href="../css/custom-style.css">
    <link rel="stylesheet" href="/static/css/custom-style.css">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div class="modal fade" id="addTeacher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text" id="myModalLabel">添加教师</h4>
            </div>
            <div class="modal-body" style="z-index: 2000">
                <div class="container">
                    <div class="row">
                        <div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-xs-3 text-right">
                                        <label for="username">姓名:</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" id="username" name="username"
                                               th:placeholder="教师姓名">
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-xs-3 text-right">
                                        <label for="password">密码:</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" id="password" name="password"
                                               disabled placeholder='默认密码: 123456'>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-xs-3 text-right"><label for="gender">性别:</label></div>
                                    <div class="col-xs-6 ">
                                        <select name="gender" class="form-control" id="gender">
                                            <option value="0">男</option>
                                            <option value="1">女</option>
                                            <option value="2">未知</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 10px">
                                    <div class="col-xs-3 text-right"><label for="position">职位:</label></div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" name="position" id="position"
                                               th:placeholder="职位">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick=""></button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script src="../layui/layui.all.js"></script>
<script src="/static/layui/layui.all.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.0.4/echarts.min.js"></script>
</body>
</html>