<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="teacher/layout::teacherHead">
    <meta charset="utf-8">
    <title>EMooc讲师管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="/static/css/custom-style.css">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>
<body>
<div th:replace="teacher/layout::nav"></div>
<div th:replace="teacher/layout::top"></div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
        </div>
    </div>
</div>
</body>
</html>