<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="teacher/layout::teacherHead">
    <meta charset="utf-8">
    <title>EMooc讲师管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" href="/static/css/custom-style.css">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>
<body>
<div th:replace="teacher/layout::nav"></div>
<div th:replace="teacher/layout::top"></div>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div style="text-align: center; height: 200px; overflow: hidden; border-radius: 5px">
                <cite style="z-index: 1000"></cite>
                <img th:src="${courseDetails.picPath}" style="width: 100%; margin: auto" alt="">
            </div>
            <div>
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend th:text="${courseDetails.name}"></legend>
                </fieldset>

            </div>
            <div class="layui-container">
                创建时间 <span th:text="${courseDetails.date}"></span>
                评分 <span th:text="${courseDetails.score}"></span>
                学习人数: <span th:text="${courseDetails.study}"></span>
                <a class="layui-btn" th:href="${'/teacher/course/section/'+ courseDetails.id}">添加新章节</a>
            </div>
            <div>
                <div class="layui-collapse" lay-filter="test" th:each="section:${sections}">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title"><span th:text="${section.sectionName}">
                            <small></small></span></h2>
                        <div class="layui-colla-content">

                            <ul class="fly-list" th:each="video:${section.videos}">
                                <li>
                                    <a class="fly-avatar">
                                        <img src="" alt=""/></a>
                                    <h2>
                                        <a th:href="${'/teacher/course/section/video/'+ video.videoId}"
                                           th:text="${video.videoId} + ${video.videoName}"></a>
                                    </h2>
                                </li>
                            </ul>
                            <div th:text="${section.sectionDetails}"></div>
                            <div>
                                <form th:action="@{/teacher/course/section/video}" method="post"
                                      enctype="multipart/form-data">
                                    <input type="hidden" th:value="${section.sectionId}" name="sectionId">
                                    <label for="l_name">标题</label><input id="l_name" type="text" name="name">
                                    <input type="file" name="video" accept="video/*">
                                    <input type="submit" class="layui-btn" value="添加视频">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="fly-panel">
                <h3 class="fly-panel-title">个人信息</h3>
                <div style="text-align: center">
                    人家有那么多小秘密, 你看什么?
                </div>
            </div>
            <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
                <h3 class="fly-panel-title">学生</h3>
                <dl>
                    <i class="layui-icon fly-loading">&#xe63d;dd</i>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                    <dd>
                        <a href="user/home.html">
                            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"><cite>贤心</cite><i>106次回答</i>
                        </a>
                    </dd>
                </dl>
            </div>

            <dl class="fly-panel fly-list-one">
                <dt class="fly-panel-title">热门课程</dt>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>
                <dd>
                    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
                    <span><i class="iconfont icon-pinglun1"></i> 16</span>
                </dd>


                <div class="fly-none">没有相关数据</div>

            </dl>

            <div class="fly-panel fly-link">
                <h3 class="fly-panel-title">网站导航</h3>
                <dl class="fly-panel-main">
                    <dd><a href="http://www.baidu.com/" target="_blank">Baidu</a>
                    <dd>
                    <dd><a href="http://www.qq.com/" target="_blank">腾讯</a>
                    <dd>
                    <dd><a href="http://layer.layui.com/" target="_blank">layer</a>
                    <dd>
                    <dd><a href="http://www.layui.com/laydate/" target="_blank">layDate</a>
                    <dd>
                    <dd>
                        <a href="mailto:xianxin@layui-inc.com?subject=%E7%94%B3%E8%AF%B7Fly%E7%A4%BE%E5%8C%BA%E5%8F%8B%E9%93%BE"
                           class="fly-link">申请友链</a>
                    <dd>
                </dl>
            </div>

        </div>
    </div>
</div>
<div th:replace="teacher/layout::footer"></div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="/static/layui/layui.js"></script>
<script th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;

        // //监听折叠
        // element.on('collapse(test)', function (data) {
        //     layer.msg('展开状态：' + data.show);
        // });
    });
</script>
</html>